/* You can add global styles to this file, and also import other style files */

.content-container {
    position: relative;
    width: 100%;
    background: #fafafa;
  }

  .content-area {
      //margin-left: -4rem;
  }
