<nav class="sidenav">
    <section class="sidenav-content">
        <a class="nav-link" routerLink="/summary" routerLinkActive="active">
            Summary
        </a>
        <a class="nav-link" routerLink="/resume" routerLinkActive="active">
            Resume
        </a>
        <a class="nav-link" routerLink="/previous-work" routerLinkActive="active">
            Previous Work
        </a>
        <a class="nav-link" routerLink="/previous-employment" routerLinkActive="active">
            Previous Employment
        </a>
    </section>
</nav>