<div class="summary">
    <p>
        As an enthusiastic team player, I have a solid track record of exceeding expectations and delivering on
        departmental
        objectives. I apply a consultative approach to my work, while ensuring all parties are consistently updated on
        progress and milestones. I would make a great addition to your team and look forward to the next steps in the
        application process.
    </p>

    <p>
        Recently, I earned bachelor’s degree in Computer Engineering from the University of Guelph. During my studies, I
        completed four comprehensive projects relating to IoT, Android app, and iCal database. During these endeavors, I
        demonstrated strong time and project management skills and developed a sound approach to managing multiple
        competing
        priorities. Most recently, I implemented a 3-layer architecture (sensor network, backend, and website). The
        website
        was developed using an observable pattern with Angular.js, the backend used Node.js secured with JSON web tokens
        and
        data was stored in MongoDB. The wireless sensor network communicated over radio to a gateway controller, which
        relayed the sensor data over MQTT to the backend. In another similar project, I developed a solution to remotely
        monitor and manage a hydroponics farm. Additionally, I created and designed backend service for an Android app
        using
        Node.js and MySQL.
    </p>

    <p>
        Along with my undergraduate degree and experience, I have worked in a self-employed manner for a hydraulics
        company
        with the goal of creating an ecommerce website using WordPress. I attended prework meetings to understand work
        scope
        and provide concepts and ideas. During the course of the project, I met with owners to provide updates on work
        progress. Lastly, I worked in a cooperative role with Pencom Canada where I was accountable for quality
        assurance
        while programming a Keyence machine.
    </p>

    <p>
        In relation to my technical experience, I have accumulated a wealth of skills in numerous software platforms as
        listed on my resume. I enjoy learning and look forward to adding new skills to my knowledge base.
    </p>
</div>