<div class="profile">
    <h3>
        Profile
    </h3>
    <p>
        As a highly capable and self-starting professional, I apply strong organization skills while demonstrating
        initiative and a solid work ethic.
    </p>
</div>

<div class="education">
    <h3>
        Education
    </h3>
    <p>
        Bachelor of Computer Engineering, University of Guelph (2018).
    </p>
</div>

<div class="projects">
    <h3>
        Projects
    </h3>
    <ul style="list-style: none;">
        <li>
            <h6>IoT REAL TIME SYSTEM PROJECT; DESIGN 4</h6>
            <p class="p2">UNIVERSITY OF GUELPH, GUELPH</p>
            <ul>
                <li>
                    Demonstrated strong project management skills and team collaboration while using Agile to develop a
                    working prototype (IoT sensory network) for inventory management in assembly manufacturing.
                </li>
                <li>
                    Implemented 3-layer architecture, splitting problems into three main components, including sensory
                    network, backend (server), and frontend (website).
                </li>
                <li>
                    Used observable pattern (Rx.js) with Angular.js to create frontend, which kept over architecture
                    event-based.
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="work">
    <h3>
        Work Experience
    </h3>
    <p>

    </p>
</div>