.resume {
    padding: 1.5rem;
    padding-top: 0rem;
}

p {
    margin: 0;
}

.p2 {
    margin: 0;
}

h6 {
    margin-top: 0.5rem;
}

.projects {
    ul{
        
    }
}

.references {
    h6 {
        text-align: center;
        padding-top: 1rem;
    }
}