.resume {
    padding: 1.5rem;
    padding-top: 0rem;
    margin-left: 4rem;
}

p {
    margin: 0;
}

.p2 {
    margin: 0;
}

.title {
    h6 {
        width: 50%;
        margin-top: 0.5rem;
        display: inline-block;
    }
    
    #year {
        text-align: right;
        
    }
}

.projects, .work {
    ul{
        padding: 0.5rem 0 0.5rem 0;
    }
}

.references {
    h6 {
        text-align: center;
        padding-top: 1rem;
    }
}